__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env_backend/
venv/
.venv/
.env
node_modules/
dist/
build/
.pytest_cache/
.mypy_cache/
.coverage
.cache
.DS_Store
.git
*.log
__pycache__/
npm-debug.log
yarn-error.log
